# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# test files
test/

data/raw_data/
data/output/bert-cosine-bert/
data/output/bert-dot-bert/
data/output/roberta-cosine-roberta/
data/output/roberta-dot-roberta/
data/output/simcse-dot-simcse/
data/output/simcse-cosine-bert/
data/output/simcse-cosine-simcse/
data/output/simcse-cosine-roberta/

.vscode

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
